:root {
    --cyan-middle: #00BCD4; /*---- 500  ---*/
    --blue-middle: #2196F3; /*---- 500  ---*/
    --pink-middle: #E91E63; /*---- 500  ---*/

    --cyan-dark: #006064; /*---- 900  ---*/
    --blue-dark: #0D47A1; /*---- 900  ---*/
    --pink-dark: #880E4F; /*---- 900  ---*/

    --cyan-light: #26c6da; /*---- 400  ---*/
    --blue-light: #42A5F5; /*---- 400  ---*/
    --pink-light: #EC407A; /*---- 400  ---*/


    --white-color: #ffffff;
    --black-color: #161d28;
}



*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* 1em = 16px 16px is provided by the browser

    600px = 37.5em
    900px = 56.25em
    1200px = 75em
    1800px = 112.5rem 
*/
html {
    font-size: 62.5%; /* 1rem = 10px */}
    @media (max-width: 112.5em) {
        html { font-size: 62.5%;
        }
    }
    @media (max-width: 75em) {
        html { font-size: 70%;   
        }
    }  
    @media (max-width: 56.25em) {
        html { font-size: 60%;
        }
    }
    @media (max-width: 37.5em) {
        html { font-size: 50%;
        }            
    } 


body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

