/********* Statistik header ********/
.statistik__header {
    margin-bottom: 1rem !important;
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    /* color: var(--cyan-middle) !important; */
    color: var(--black-color) !important;
}

.statistik__description {
    margin-bottom: 2rem;
}

.statistik__left {
   /* border: 1px solid #bbb; */
   padding: 1.5rem 2.5rem; 
   /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; */
   min-height: 10rem;
}

.statistik__right {
    /* border: 1px solid #bbb; */
    padding: 1.5rem 2.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; */
    min-height: 10rem;
}





.btn__view_all {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform-origin-y: -50%;
}

.overview {
    display: flex;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;     */
}



.for__next_month {
    margin-bottom: 5rem;
    padding: 2rem 1rem;
    display: none;
    /* border: 1px solid #bbb; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

}

/****** Component ********/
.sideBar__block {
    margin-bottom: 2rem;
    background-color: #f1f1f1;
    padding: 1rem;
}

.sideBar__block__title {
    padding: .5rem;
    font-size: 1.7rem;
    color: var(--black-color);
    font-weight: 500;
    margin-bottom: 1rem;
}

/****** Paypal block *******/

.paypal_account {
    padding: 1rem;
    /* border-radius: 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px; */
}

.paypal__header span {
    font-size: 1.3rem;
    color: var(--black-clor);
    font-weight: normal;
}
.paypal__title {
    font-size: 2rem;
    color: var(--cyan-middle);
    font-weight: 600;
    padding: .7rem 0 0;
}
.imgpaypal {
    position: absolute !important;
    top: 5px;
    right: 5px;
    display: inline-block !important;
}
.paypal__text {
    padding-top: 2.5rem;
    font-size: 1.4rem;
    color: var(--black-color);
    line-height: 1.6;
    text-align: justify;
}

.link__paypal {
    margin-top: 1.5rem;
    display: inline-block;
}

.link__paypal_btn {
    background-color: var(--pink-middle) !important;
}

/*************  quick overview  ********/
.box__banner {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
    max-width: 45rem !important;
    background-color: var(--white-color) !important;
    padding: 2.5rem 2.5rem !important;
    margin: 1rem 0px !important;
    /* border-radius: 4px; */
    /* border: 1px solid #bbb; */
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 8px, rgba(0, 0, 0, 0.23) 0px 3px 10px; */
}

.quick_overview {
    font-size: 2.5rem;
    font-weight: 600;
    /* color: var(--cyan-middle); */
    color: var(--black-color);
    padding-top: 3rem;
    padding-bottom: 1rem;
 }

.bg_title {
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--black-color);
}

.sm_title {
    font-size: 1.4rem;
    font-weight: 500;
}

.box__amount {
    padding-top: 2rem;
    color: var(--pink-middle);
}

.devise__overview {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--black-color);
}

.sum {
    font-size: 3.5rem;
    font-weight: 800;
}

.box__img {
    padding: 2rem;
    border-radius: 4px;
    background-color: var(--cyan-light);
}

/********** see next month ***********/
.see__next__month {
}

.text__see__next {
    padding: 1rem 4rem 1rem 1rem !important;
    text-align: justify !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 1.4rem !important;
    line-height: 1.6 !important;
    border: none !important;
    position: relative;
    margin: 0em !important;
    color: var(--black-color) !important;
}

.see__next__amount {
    padding: .5rem 1.5rem 1.5rem !important;
    text-align: center;
    border: none !important;
}

.next__text {
    font-size: 1.7rem;
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
}

.next__amount {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: .3rem;
    color: var(--pink-middle);
}

.up__down__see {
    position: absolute !important;
    bottom: 1rem;
    right: 0rem;
}


/********** New Items *******/
/* .newItems__link {
    display: block;
    padding: 1rem;
    background-color: beige;
}

.newItems__parent {
    display: flex !important;
}

.newItems__profil {

}

.newItems__tof {
    background-color: aqua;
    height: 5rem;
    width: 6rem;
}

.newItems__infos {
    flex: 1 0;
    padding-left: 1rem;
    display: flex;  
}

.newItems__seller {
    width: 25%;
}
.newItems__prices {
    width: 25%;
}
.newItems__stats {
    width: 45%;
} */

/********* last activities ****/
.last__activities__title {
    font-size: 2.5rem !important;
    color: var(--black-color) !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.last__activities__description {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: justify;
    color: var(--black-color);
    line-height: 1.6;
}

.view_all {
    position: absolute;
    top: 50%;
    font-size: 1.4rem !important;
    transform: translateY(-50%) !important;
    right: 0rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem 1.3rem !important;
    color: var(--black-color) !important;
    background-color: var(--white-color) !important;
}