/* .dashboard__menu {
    position: fixed !important;
    width: 300px;
    height: 100%;
    background-color: var(--blue-middle);
    background: linear-gradient(to bottom,  rgb(66, 165, 245, .5), rgb(33, 150, 243, 1));
    box-shadow: rgba(0, 0, 0, 0.25) 1px 0px 25px,
     rgba(0, 0, 0, 0.22) 3px 0px 17px;
     z-index: 1;
    background-color: #673AB7;
} */

.dashboard__menu {
  
}


.dashboard__logo {
    padding: 3rem 1.5rem 3rem 5rem!important;
    font-size: 2.5rem !important;
    font-weight: 500 !important;
    color: var(--white-color) !important;
    margin-bottom: 0px !important;
}

.dashboard__menu_user {
    padding: 2rem 0;
}

.dashboard__menu_list {
    list-style: none;
    padding: 0px !important;
}

ul.dashboard__menu_list a {
    color: var(--black-color);
}

ul.dashboard__menu_list a {
    color: var(--black-color);
    display: block;
}

.single__menu {
    padding: 1.7rem 1.5rem 1.7rem 5rem;
    font-size: 1.7rem;
    position: relative;
    font-weight: 400;
}

.single__menu::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0rem;
    background-color: var(--pink-middle);
}

ul.dashboard__menu_list a:hover .single__menu::after {
    /* height: 100%; */
    width: .5rem;
    transform: translateX(-.5rem);
    transition: all .3s;
}

ul.dashboard__menu_list a:hover .single__menu {
    transform: translateX(.5rem);
    transition: transform .5s;
    /* color: var(--white-color); */
}

.menu__name {
    vertical-align: middle;
    padding-left: 2rem;
}


