.last__activities__title {
    font-size: 2.5rem !important;
    color: var(--cyan-middle) !important;
    font-weight: 600 !important;
    margin-bottom: 1rem !important;
}

.last__activities__description {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: justify;
    color: var(--black-color);
    line-height: 1.6;
}

.view_all {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1.5rem !important;
}