.login {
    position: fixed;
    /* width: 100%; */
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.login__outside_box {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* background-color: blueviolet; */
    width: 70%;
    height: 70rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;

}

/*************** left side ************/

.signin__left {
    flex: 2 0;
    padding: 4rem;  
    background-color: white; 
}

.login__logo {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .5rem;
    padding: 0 0 0 1.5rem;
    margin-bottom: 6rem !important;
}

.login__title {
    margin-bottom: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.login__form {
    padding: 2rem 2.5rem 0rem 1.5rem !important;    
}

.login__form_input {
    width: 100%;
    padding: 1rem 0 1rem 5rem;
    font-size: 1.7rem;
    font-weight: 300;
}

#emails {
    background-image: url('../../assets/mail.svg');
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position: 0rem .8rem;
}

#passwords {
    background-image: url('../../assets/locked.svg');
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position: 0rem .8rem;
}

.login__input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .1rem;
    padding: 0 0 .8rem 0;
    width: 100%;
}

.login__form > .login__form_input {
    margin-bottom: 1.5rem;
}

.feeback {
    padding: 1rem 0px .3rem;
    color: red;
    visibility: hidden;
}

.password_forget {
    /* padding-left: 1.5rem; */
    font-size: 1.7rem;
    font-weight: 300;
}

.login__btn {
    display: inline-block;
    padding: 2rem 7.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 7.5rem;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    cursor: pointer;
    background-color: lightskyblue;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem 2rem 1.5rem;
    margin-bottom: 3rem;
}

.create__account {
    text-align: center;
    letter-spacing: .1rem;
    padding: 5rem 2.5rem 0 1.5rem;
}


/*************** right side ************/
.signin__right{
    flex: 3 1;
    padding: 4rem;
    background-color: cornflowerblue;
}