.login {
    position: fixed;
    /* width: 100%; */
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.login__outside_box {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* background-color: blueviolet; */
    width: 70%;
    height: 70rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;

}

/*************** left side ************/

.signin__left {
    flex: 2 0;
    padding: 4rem;  
    background-color: white; 
}

.login__logo {
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .5rem;
    padding: 0 0 0 1.5rem;
    margin-bottom: 6rem !important;
}

.login__title {
    margin-bottom: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .5rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.login__form {
    padding: 2rem 2.5rem 0rem 1.5rem !important;    
}

.login__btn {
    transition: all .2s;
}

.password_forget {
    /* padding-left: 1.5rem; */
    font-size: 1.7rem;
    font-weight: 300;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem 2rem 1.5rem;
    margin-bottom: 3rem;
}

.create__account {
    text-align: center;
    letter-spacing: .1rem;
    padding: 5rem 2.5rem 0 1.5rem;
}


/*************** right side ************/
.signin__right{
    flex: 3 1;
    padding: 4rem;
    background-color: cornflowerblue;
}