.sendmoney__descrition {
    height: 25rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    /* background-color: aqua; */
    position: relative;
}

.sendmoney__describe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sendMoney__title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--cyan-middle);
    margin-bottom: 2rem;
}

.sendmoney__description-text {
    color: var(--black-color);
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
}

.money__options {
    margin: 0rem;
    list-style: none;
    width: 100%;
}

.money__options__tab {
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1.5rem;
    padding-bottom: 15px;
}

.money__options__text {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
}

.tab__link__text {
    color: var(--black-color);
    font-size: 1.5rem;
    line-height: 1.6;
    text-align: justify; 
}

/************ transfert block ************/
.transfert__block {
    width: 100%;
    max-width: 70rem;
    min-height: 200px;
    padding-bottom: 2rem;
    margin: 5rem auto 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.transfert__block__title {
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
}

.transfert__block__type {
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--black-color);
    display: block;
    padding-left: 1.5rem;
}

.transfert__block__content {
    max-width: 55rem;
    width: 100%;
    margin: auto;
    padding: 1rem 1rem 1rem;
}

.tranfert__input__holder {
    padding: .5rem 1.5rem 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-bottom: 3rem;
}

.transfert__email {
    display: block;
    position: relative;
    /* top: 2.2rem;
    font-size: 2rem; */
    top: 0;
    font-size: 1.4rem;
    color: var(--black-color);
    margin-bottom: .5rem;
}

#email__input {
    display: block;
    width: 100%;
    font-size: 1.8rem;
    height: 3rem;
    padding-bottom: .5rem;
    outline: none;
    border: none;
    /* border-bottom: 1px solid black; */
}

.transfert__to__block {
    display: table;
    margin-bottom: 0rem;
}

.transfert__test__to {
    display: table-cell;
    vertical-align: baseline;
    color: var(--black-color);
    font-weight: 600;
    padding-right: 1rem;
}

.transfert__to__name {
    display: table-cell;
    padding-left: 1.5rem;
    vertical-align: baseline;
}

.text__to__name {
    display: inline-block;
    position: relative;
    padding: .5rem 4rem .5rem 1.5rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    font-size: 1.3rem;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem
}

.how__much {
    display: inline-block;
    margin-bottom: 2rem;
    font-weight: 600;
    color: var(--black-color);
}

.inputs__summes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatISend, .whatYouReceive {
    max-width: 20rem;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid #bbb;
    position: relative;
}

.send__amount, .received__amount {
    padding: 1px 0;
}

.input__money { 
    display: block;
    width: 100%;
    font-size: 2rem;
    height: 2.5rem;
    /* padding-bottom: .5rem; */
    outline: none;
    border: none;
    /* border-bottom: 1px solid black; */
}

.transfert__device {
    position: absolute;
    right: 20px;
    top: 3px;
    font-size: 20px;
}

.conversion__rate {
    padding: 3rem 1rem;
    text-align: center;
    line-height: 1.6;
}

.add__note__text {
    display: block;
    margin-bottom: .5rem;
    color: var(--black-color);
    font-weight: 600;
}

.transfert__add__note {
    width: 100%;
    border: 1px solid #bbb;
    display: block;
    padding: 1rem;
}

.transfert__btn__block {
    text-align: right;
    margin-top: 1rem;
}

.tranfert__btn {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.btn__cancel {
    margin-right: 1rem;
    color: var(--black-color);
    font-size: 1.5rem;
}

.btn__next {
   box-shadow:rgba(0, 0, 0, 0.16) 3px 3px 10px, rgba(0, 0, 0, 0.23) 1px 3px 10px;
   background-color: var(--cyan-middle);
   padding: 1.2rem 2.5rem;
}

/********** progress - step ************/
.transfert__progress {
    position: relative;
    text-align: center;
}

.transfert__step {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
}