/********************** navigation *********************/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem 2.5rem;
   /* background: orange; */}
   @media (max-width: 87.5em) {
    .navigation {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        }
    }
    @media (max-width: 75em) {
        .navigation {
            padding-left: 2rem;
            padding-right: 2rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation {
            padding-left: 1rem;
            padding-right: 1rem;
            }
    }

.navigation__logo {
    margin-left: 15rem;}
    @media (max-width: 87.5em) {
        .navigation__logo {
            margin-left: 13rem;
            }
    }
    @media (max-width: 75em) {
        .navigation__logo {
            margin-left: 8rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation__logo {
            margin-left: 4rem;
            }
    }
    @media (max-width: 31.25em) {
        .navigation__logo {
            margin-left: 1rem;
            }
    }




.navigation__logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue-dark);
    font-size: 2.5rem;
    font-weight: 500;}
    @media (max-width: 87.5em) {
        .navigation__logo a  {
            font-size: 2.2rem;
            }
    }

.navigation__menu {
    margin-right: 15rem;}
    @media (max-width: 87.5em) {
        .navigation__menu {
            margin-right: 13rem;
            }
    }
    @media (max-width: 75em) {
        .navigation__menu {
            margin-right: 8rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation__menu {
            margin-right: 4rem;
            }
    }
    @media (max-width: 31.25em) {
        .navigation__menu {
            margin-right: 1rem;
            }
    }



.navigation__menu a {
    text-decoration: none;
    color: var(--blue-dark);
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;}
    @media (max-width: 75em) {
        .navigation__menu a {
            font-size: 1.5rem;
            }
    }


.navigation__menu > a {
    margin-right: 2rem;
}

.link_btn:link,
.link_btn:visited {
    display: inline-block;
    color: var(--white-color);
    padding: 1.2rem 2rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transition: all .2s;
}

.link_btn:active {
    transform: translateY(.2rem);
}

.link_btn--color {
    background-color: var(--pink-middle); /*** for test ***/
}
.link_btn--color:hover {
    background: var(--pink-light);  
    box-shadow:rgba(0, 0, 0, 0.16) 3px 3px 10px, rgba(0, 0, 0, 0.23) 1px 3px 10px;
    transition: all .2s;
    transform: translateY(-1px)
}


/************************* how to work card components *****************/
.card_home__nber{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--blue-light);
    color: var(--white-color);
    align-items: center;
    font-size: 2em;
    font-weight: 200;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 2px 6px;

}

.card_home__content {
    padding-bottom: 7rem;
    padding-top: 7rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
}

.card_home__content:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
}

.card_home_content__image {
    margin: 3rem auto !important;
    display: block;
}

.card_home_content__titre {
    text-transform: uppercase;
    color: var(--blue-middle);
    font-size: 2.5rem;
    font-weight: 500;
    padding:3.5rem 0 0 !important;
    text-align: center;
    line-height: 1.3em;}
    @media (max-width: 87.5em) {
        .card_home_content__titre {
            font-size: 2rem;
            margin:3rem auto 1.7rem !important;
        }
    }
    @media (max-width: 75em) {
        .card_home_content__titre {
            font-size: 1.7rem;
            margin:2rem auto 1rem !important;
        }
    }



.card_home_content__text {
    font-size: 1.7rem;
    font-weight: 300;
    color: var(--black-color);
    text-align: justify;
    line-height: 1.7;
    padding: 3rem 7rem;}
    @media (max-width: 87.5em) {
        .card_home_content__text {
            font-size: 1.6rem;
            padding: 1rem 1.8rem;
        }
    }
    @media (max-width: 75em) {
        .card_home_content__text {
            font-size: 1.4rem;
            padding: 1rem 1rem;
        }
    }
    @media (max-width: 61.9375em) {
        .card_home_content__text {
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }


.how_work__card {
    width: 75%;
    margin: auto;}
    @media (max-width: 100em) {
        .how_work__card {
            width: 95%;
        }
    }
    @media (max-width: 75em) {
        .how_work__card {
            width: 100%;
        }
    }
    @media (max-width: 61.9375em) {
        .how_work__card {
            width: 85%;
        }
    }
    @media (max-width: 47.9375em) {
        .how_work__card {
            width: 55%;
        }
    }
    @media (max-width: 31.25em) {
        .how_work__card {
            width: 80%;
        }
    }
    @media (max-width: 21.875em) {
        .how_work__card {
            width: 95%;
        }
    }




@media (max-width: 61.9375em) {
    .create_account {
        margin-top: 5rem;
    }
}

.confirm_account {
    margin-top: 13rem;}
    @media (max-width: 61.9375em) {
        .confirm_account {
            margin-top: 5rem;
        }
    }

.enjoy_djumper {
    margin-top: 26rem;}
    @media (max-width: 61.9375em) {
        .enjoy_djumper {
            margin-top: 3rem;
        }
    }
    @media (max-width: 47.9375em) {
        .enjoy_djumper {
            margin-top: 5rem;
        }
    }

/************************* why use components *****************/
.why_use_reasons__one,
.why_use_reasons__two,
.why_use_reasons__three {
    text-align: justify;
    font-size: 1.7rem;
    padding: .5rem 1.5rem 1.5rem 0;
    line-height: 2em;
    color: var(--black-color);
    width: 80%;
}



/************************* never use components *****************/

.art_trip {
    width: 80%;
    min-height: 30rem;
    background-color: white;
    margin: auto;
    padding: 2rem;
    box-sizing: content-box;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
}

.art_trip:hover {
    transform: translateY(-3px);
    transition: all .2s;
}

.trip_box__title {
    padding: 3rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #0097A7
    /* margin-bottom: 1.5rem; */
}

.advantage {
    list-style: none;
    margin-bottom: 0;
    padding: 1rem 5rem;
}

.mybtn {
    text-align: center;
    padding: 2rem 0;
}

.get_start {
    display: inline-block;
    padding: 1.5rem 3rem;
    color: var(--white-color);
    border-radius: 3px;
    background-color: var(--pink-middle);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    cursor: pointer;
    font-size: 1.8rem;
}

.get_start:hover {
    background-color: var(--blue-light);
    box-shadow:rgba(0, 0, 0, 0.16) 3px 3px 10px, rgba(0, 0, 0, 0.23) 1px 3px 10px;
    transition: all .2s;
    transform: translateY(-1px)
}

.advs {
    padding-bottom: 1rem;
}

.adv {
    padding-left: 2rem;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2em;
    color: var(--black-color);
}

/**************** input components ********/

.login__form_input {
    width: 100%;
    padding: 2.5rem 0 0rem 4.5rem;
    position: relative;
    /* font-size: 1.7rem;
    font-weight: 300; */
    margin-bottom: 1rem;
}

.form__icons {
    background-repeat: no-repeat;
    background-size: 3rem 6rem;
    background-position: 0rem .8rem;
}

/* .login__input {
    border: none !important;
    outline: none !important;
    border-bottom: 1.5px solid #bbb !important;
    font-size: 1.7rem !important;
    font-weight: 300 !important;
    letter-spacing: .1rem !important;
    padding: 0 0 .8rem 0 !important;
    width: 100% !important;}
    @media (max-width: 25em) {
        .login__input {
            font-size: 1.7rem !important;
        }
    } */

/* .login__form > .login__form_input {
    margin-bottom: 1.5rem;
} */

.initial__state {
    height: 2.2px;
    position: relative;
    /* background-color: var(--blue-middle); */
    background-color: black;
}

.input__state {
    height: 2.2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.state__focus {
    animation-name: focus__;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    z-index: 1;
}

.state__leaveRigth {
    animation-name: blurRight;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    z-index: 1;
}

@keyframes focus__ {
    from {
        background: var(--blue-middle);
        left: 40%;
        width: 0;
    }
    to {
        background: var(--blue-middle);
        left: 0;  
        width: 100%; 
    }
}

@keyframes blurRight {
    from {
        background: var(--cyan-middle);
        left: 40%;
        width: 0;
    }
    to {
        background: var(--cyan-middle);
        left: 0;  
        width: 100%; 
    }
}

.feeback {
    padding: 1rem 0 .3rem;
    color: red;
    height: 3.5rem;}
    @media (max-width: 75em) {
        .feeback {
            height: 2.5rem;

        }
    }

.feeback__checkbox {
    padding: 1rem 0 .3rem 5rem;
    color: red;
    height: 3.5rem;
    font-size: 1.7rem;
    font-weight: 300;}
    /* @media (max-width: 75em) {
        .feeback__checkbox {
            height: 2.5rem;
            font-size: 1.6rem;

        }
    } */

.space {
    height: 3.5rem;}
    @media (max-width: 75em) {
        .space {
            height: 2.5rem;

        }
    }

.imagePassword {
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    cursor: pointer;
}

/*********** sign button ************/

.sign__btn {
    display: inline-block;
    padding: 2rem 5.5rem;
    box-shadow:rgba(0, 0, 0, 0.16) 3px 3px 10px, rgba(0, 0, 0, 0.23) 1px 3px 10px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    background-color: var(--pink-middle);
}

.sign__btn:hover {
    background-color: var(--pink-light);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
    transition: all .2s;
}


/************** faq categorie title ***********/
.faq__categorie_question {
    font-size: 3rem !important;
    color: var(--blue-middle) !important;
    font-weight: 600 !important;
    letter-spacing: .1rem !important;
    margin-bottom: 3rem !important;}
    @media (max-width: 87.5em) {
        .faq__categorie_question {
            font-size: 2.7rem !important;
            margin-bottom: 2.5rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__categorie_question {
            font-size: 2.3rem !important;
            margin-bottom: 2rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__categorie_question {
            font-size: 2rem !important;
            margin-bottom: 1.5rem !important;
        }
    }


.faq__reponse {
    font-size: 2rem !important;
    font-weight: 300 !important;
    text-align: justify !important;
    letter-spacing: .1rem !important;}
    @media (max-width: 87.5em) {
        .faq__reponse {
            font-size: 1.6rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__reponse {
            font-size: 1.4rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__reponse {
            font-size: 1.2rem !important;
        }
    }



.faq__question_reponse {
    padding: 2rem 0;
}

.faq__the_question {
    font-size: 2rem !important;
    font-weight: 400 !important;
    color: #0097A7 !important;
    padding: 1rem .5px !important;}
    @media (max-width: 87.5em) {
        .faq__the_question {
            font-size: 1.8rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__the_question {
            font-size: 1.6rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__reponse {
            font-size: 1.3rem !important;
        }
    }

/************************* Loader *********************/
.loader_div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    /* background-color: rgba(0, 0, 0, 0.54); */
    background-color: rgba(0,0,0,.85);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loader {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5rem solid #f3f3f3;
    border-radius: 50%;
    /* border-bottom-color: #3498db; */
    border-bottom-color: black;
    box-sizing: content-box;
    animation: spin .7s linear infinite;
    z-index: 999;    
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}


/************************* Loader *********************/
.modal_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.modal_box {
    width: 50%;
    min-height: 5rem;
    margin: auto;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    border-radius: 4px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px; 
}

.modal__header {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.5rem 2.5rem 2rem;
    margin: 0;
    text-transform: uppercase;
}

.modal__body {
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 1.5rem;
    padding: 0 2.5rem 2.5rem;   
}

.modal__footer {
    padding: 1rem 2.5rem;
    text-align: right;
}

.modal__btn {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.modal__footer span:first-child {
    margin-right: 1rem;
}

.modal__submit {
    background-color: tomato;
}

.modal__cancel {
    background-color: #f1f1f1;
}


/******************* error box ***************/
.error__box {
    max-width: 40rem;
    width: 100%;
    min-width: 30rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 4px;
    z-index: 9;
}

.error__header {
    padding: 0rem 1rem ;
}

.error__title {
    font-size: 1.7rem;
    font-weight: 600;
    color: red;
    text-transform: uppercase;
}

.error__list {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
}

.single__error {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
    padding-bottom: 1rem;
}

