/********************** navigation *********************/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5rem 2.5rem;
   /* background: orange; */}
   @media (max-width: 87.5em) {
    .navigation {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        }
    }
    @media (max-width: 75em) {
        .navigation {
            padding-left: 2rem;
            padding-right: 2rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation {
            padding-left: 1rem;
            padding-right: 1rem;
            }
    }

.navigation__logo {
    margin-left: 15rem;}
    @media (max-width: 87.5em) {
        .navigation__logo {
            margin-left: 13rem;
            }
    }
    @media (max-width: 75em) {
        .navigation__logo {
            margin-left: 8rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation__logo {
            margin-left: 4rem;
            }
    }
    @media (max-width: 31.25em) {
        .navigation__logo {
            margin-left: 1rem;
            }
    }




.navigation__logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 500;}
    @media (max-width: 87.5em) {
        .navigation__logo a  {
            font-size: 2.2rem;
            }
    }

.navigation__menu {
    margin-right: 15rem;}
    @media (max-width: 87.5em) {
        .navigation__menu {
            margin-right: 13rem;
            }
    }
    @media (max-width: 75em) {
        .navigation__menu {
            margin-right: 8rem;
            }
    }
    @media (max-width: 43.75em) {
        .navigation__menu {
            margin-right: 4rem;
            }
    }
    @media (max-width: 31.25em) {
        .navigation__menu {
            margin-right: 1rem;
            }
    }



.navigation__menu a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;}
    @media (max-width: 75em) {
        .navigation__menu a {
            font-size: 1.5rem;
            }
    }


.navigation__menu > a {
    margin-right: 2rem;
}

.link_btn:link,
.link_btn:visited {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    transition: all .2s;
}

.link_btn:active {
    transform: translateY(.2rem);
}

.link_btn--orange {
    background: orange; /*** for test ***/
}


/************************* how to work card components *****************/
.card_home__nber{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    margin: 0 auto 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 200;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px, rgba(0, 0, 0, 0.23) 0px 2px 6px;

}

.card_home__content {
    padding-bottom: 3rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
}

.card_home_content__image {
    margin: 3rem auto !important;
    display: block;
}

.card_home_content__titre {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 400;
    margin:3.5rem auto 2rem !important;
    text-align: center;
    line-height: 1.3em;}
    @media (max-width: 87.5em) {
        .card_home_content__titre {
            font-size: 2rem;
            margin:3rem auto 1.7rem !important;
        }
    }
    @media (max-width: 75em) {
        .card_home_content__titre {
            font-size: 1.7rem;
            margin:2rem auto 1rem !important;
        }
    }



.card_home_content__text {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: justify;
    line-height: 2em;
    padding: 1rem 3rem;}
    @media (max-width: 87.5em) {
        .card_home_content__text {
            font-size: 1.6rem;
            padding: 1rem 1.8rem;
        }
    }
    @media (max-width: 75em) {
        .card_home_content__text {
            font-size: 1.4rem;
            padding: 1rem 1rem;
        }
    }
    @media (max-width: 61.9375em) {
        .card_home_content__text {
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }
    }


.how_work__card {
    width: 75%;
    margin: auto;}
    @media (max-width: 100em) {
        .how_work__card {
            width: 95%;
        }
    }
    @media (max-width: 75em) {
        .how_work__card {
            width: 100%;
        }
    }
    @media (max-width: 61.9375em) {
        .how_work__card {
            width: 85%;
        }
    }
    @media (max-width: 47.9375em) {
        .how_work__card {
            width: 55%;
        }
    }
    @media (max-width: 31.25em) {
        .how_work__card {
            width: 80%;
        }
    }
    @media (max-width: 21.875em) {
        .how_work__card {
            width: 95%;
        }
    }




@media (max-width: 61.9375em) {
    .create_account {
        margin-top: 5rem;
    }
}

.confirm_account {
    margin-top: 13rem;}
    @media (max-width: 61.9375em) {
        .confirm_account {
            margin-top: 5rem;
        }
    }

.enjoy_djumper {
    margin-top: 26rem;}
    @media (max-width: 61.9375em) {
        .enjoy_djumper {
            margin-top: 3rem;
        }
    }
    @media (max-width: 47.9375em) {
        .enjoy_djumper {
            margin-top: 5rem;
        }
    }

/************************* why use components *****************/
.why_use_reasons__one,
.why_use_reasons__two,
.why_use_reasons__three {
    text-align: justify;
    font-size: 1.7rem;
    padding: .5rem 1.5rem 1.5rem 0;
    line-height: 2em;
    width: 80%;
}



/************************* never use components *****************/

.art_trip {
    width: 80%;
    min-height: 30rem;
    background-color: white;
    margin: auto;
    padding: 2rem;
    box-sizing: content-box;
    border-radius: .4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;

}

.trip_box__title {
    padding: 2rem 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: center;
    /* margin-bottom: 1.5rem; */
}

.advantage {
    list-style: none;
    margin-bottom: 0;
    padding: 1rem 2.5rem;
}

.advs {
    padding-bottom: 2rem;
}

.adv {
    padding-left: 2rem;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2em;
}

/**************** input components ********/

.login__form_input {
    width: 100%;
    padding: 1rem 0 1rem 5rem;
    font-size: 1.7rem;
    font-weight: 300;
}

.form__icons {
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    background-position: 0rem .8rem;
}

.login__input {
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid black !important;
    font-size: 2rem !important;
    font-weight: 300 !important;
    letter-spacing: .1rem !important;
    padding: 0 0 .8rem 0 !important;
    width: 100% !important;}
    @media (max-width: 25em) {
        .login__input {
            font-size: 1.7rem !important;
        }
    }

.login__form > .login__form_input {
    margin-bottom: 1.5rem;
}

.feeback {
    padding: 1rem 0 .3rem;
    color: red;
    height: 3.5rem;}
    @media (max-width: 75em) {
        .feeback {
            height: 2.5rem;

        }
    }

.feeback__checkbox {
    padding: 1rem 0 .3rem 5rem;
    color: red;
    height: 3.5rem;
    font-size: 1.7rem;
    font-weight: 300;}
    /* @media (max-width: 75em) {
        .feeback__checkbox {
            height: 2.5rem;
            font-size: 1.6rem;

        }
    } */

.space {
    height: 3.5rem;}
    @media (max-width: 75em) {
        .space {
            height: 2.5rem;

        }
    }

/*********** sign button ************/

.sign__btn {
    display: inline-block;
    padding: 2rem 7.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 7.5rem;
    cursor: pointer;
    background-color: lightskyblue;
}

/* .sign__btn:active {
    transform: translateY(.2rem) !important;
} */


/************** faq categorie title ***********/
.faq__categorie_question {
    font-size: 3rem !important;
    font-weight: 400 !important;
    letter-spacing: .1rem !important;
    margin-bottom: 3rem !important;
    padding: 0 .5rem !important;}
    @media (max-width: 87.5em) {
        .faq__categorie_question {
            font-size: 2.7rem !important;
            margin-bottom: 2.5rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__categorie_question {
            font-size: 2.3rem !important;
            margin-bottom: 2rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__categorie_question {
            font-size: 2rem !important;
            margin-bottom: 1.5rem !important;
        }
    }


.faq__reponse {
    font-size: 2rem !important;
    font-weight: 300 !important;
    padding: 0px .5rem !important;
    text-align: justify !important;
    letter-spacing: .1rem !important;}
    @media (max-width: 87.5em) {
        .faq__reponse {
            font-size: 1.6rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__reponse {
            font-size: 1.4rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__reponse {
            font-size: 1.2rem !important;
        }
    }



.faq__question_reponse {
    padding: 2rem .5rem;
}

.faq__the_question {
    font-size: 2rem !important;
    font-weight: 600 !important;
    padding: 1rem .5px !important;}
    @media (max-width: 87.5em) {
        .faq__the_question {
            font-size: 1.8rem !important;
        }
    }
    @media (max-width: 75em) {
        .faq__the_question {
            font-size: 1.6rem !important;
        }
    }
    @media (max-width: 61.9375em) {
        .faq__reponse {
            font-size: 1.3rem !important;
        }
    }

/************************* Loader *********************/
.loader_div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    /* background-color: rgba(0, 0, 0, 0.54); */
    background-color: rgba(0,0,0,.85);
    opacity: 0.8;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.loader {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5rem solid #f3f3f3;
    border-radius: 50%;
    /* border-bottom-color: #3498db; */
    border-bottom-color: black;
    box-sizing: content-box;
    animation: spin .7s linear infinite;
    z-index: 999;    
}

@keyframes spin {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}


/************************* Loader *********************/
.modal_div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.modal_box {
    width: 50%;
    min-height: 5rem;
    margin: auto;
    /* padding-top: 3rem;
    padding-bottom: 3rem; */
    border-radius: 4px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 15px, rgba(0, 0, 0, 0.23) 0px 5px 9px; 
}

.modal__header {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.5rem 2.5rem 2rem;
    margin: 0;
    text-transform: uppercase;
}

.modal__body {
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 1.5rem;
    padding: 0 2.5rem 2.5rem;   
}

.modal__footer {
    padding: 1rem 2.5rem;
    text-align: right;
}

.modal__btn {
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.modal__footer span:first-child {
    margin-right: 1rem;
}

.modal__submit {
    background-color: tomato;
}

.modal__cancel {
    background-color: #f1f1f1;
}