.dashboard__nav {
    /* height: 70px !important; */
    padding-top: 2rem !important;
    /* margin-bottom: 2rem !important; */
    border: none;
}

.grid__nav {
    align-items: center !important;
}

.header__search {
    max-width: 500px;
    border: 1px solid #bbb;
    padding: 5px 15px;
    box-sizing: border-box;
}

#mysearchbar {
    width: 100%;
    border: none;
    height: 30px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    /* color: var(--cyan-middle); */
}

.quick_overview {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--cyan-middle);
   padding-top: 2rem;
   padding-bottom: 3rem;
}

/*************  box banner ********/
.box__banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 45rem;
    background-color: var(--white-color);
    padding: 3rem;
    border-radius: 4px;
    border: 1px solid #bbb;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 8px, rgba(0, 0, 0, 0.23) 0px 3px 10px; */
}

/* .box__banner:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
} */

.bg_title {
    font-size: 2.5rem;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--black-color);
}

.sm_title {
    font-size: 1.4rem;
    font-weight: 500;
}

.box__amount {
    padding-top: 2rem;
    color: var(--pink-middle);
}

.devise__overview {
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--black-color);
}

.sum {
    font-size: 3rem;
    font-weight: 800;
}

.box__img {
    padding: 2rem;
    border-radius: 4px;
    background-color: var(--blue-light);
}


/**** horizontal menu ***********/ 
.headmenu {
    padding: 1rem 0 1rem 1rem;
}
.nav__menu {
    margin: 0px !important;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__menu__list {
    display: inline-block;
    padding: 0 1rem;
}

.menu__block {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}

.menu__block_icons {
    display: block;
}
.menu__block_icons:hover {
    cursor: pointer;
}

.menu__block_nber {
    position: absolute;
    height: 1rem ;
    width: 1rem;
    border-radius: 100%;
    padding: .7rem;
    display: flex;
    justify-content:center;
    align-items: center;
    box-sizing: content-box;
    background-color: var(--pink-middle);
    color: var(--white-color);
    top: -15px;
    right: -15px;
}

.profil__pic {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    position: relative;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/User.svg');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.profil__pic::after {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 1px solid var(--black-color);
    padding: 2rem;
}

.profil {
    position: relative;
}

.profil__menu {
    list-style: none;
    padding: 0 1.5rem;
}

.profil__menu__list {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    color: var(--black-color);
    border-bottom: 1px solid rgb(242, 242, 242) !important;
    border-color: rgb(242, 242, 242) !important;
    cursor: pointer;
}

.component__dropdown {
    position: absolute;
    top: 5rem;
    right: -5rem;
    z-index: 999;
    max-width: 30rem;
    min-width: 28rem;
    min-height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px !important;    z-index: 9;
    background-color: var(--white-color);
}