.container__top {
    background: #f1f1f1; /** en attendant de fixer le pb de la barre du haut la **/
}

.dashboard {
    display: flex;
    height: 100vh;
}

.dashboard__menu__container {
    background-color: #374760;
    box-shadow: rgba(0, 0, 0, 0) 3px 0px 20px, rgba(0, 0, 0, 0.22) 0px 0px 22px;
    flex: 0 0 30rem;
    /* 1er 0 empeche l element d occuper tt l espace */
    /* le 2e l empeche de se reduire qd la taille de l ecran change */
    /* la 3e pp permet de preciser la largeur */
}

.dashcontent {
    flex: 1 1 !important;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding-left: 5rem;
    padding-right: 5rem; */
    /* background-color: #f1f1f1; */
}


.dashboard__mainContent {

}


/**************** dashboard side bar ************************** */
.dashboard__sideBar {
    /* background-color: #f1f1f1; */
}


.calendar__description {
    padding: 0 .5rem;
    font-size: 1.7rem;
    color: var(--black-color);
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1rem;
}


/************* last activities *************/
.main__ {
    padding-top: 3rem !important;
}